[Unit]
Description=ui-for-docker
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop ui-for-docker
ExecStartPre=-/usr/bin/docker rm -v ui-for-docker
ExecStart=/usr/bin/docker run --name ui-for-docker -v /var/run/docker.sock:/var/run/docker.sock -p 9000:9000 portainer/portainer --no-auth
ExecStop=/usr/bin/docker stop ui-for-docker

[Install]
WantedBy=multi-user.target
