[Unit]
Description=RethinkDB proxy/28015
# After=rethinkdb.service
# Requires=rethinkdb.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=60
Restart=always
RestartSec=3
ExecStartPre=/bin/systemctl is-active rethinkdb.service
ExecStartPre=/usr/bin/docker pull openstf/ambassador:latest
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --memory=4g \
  -p 28015 \
  -e RETHINKDB_PORT_28015_TCP=tcp://10.231.1.244:28015 \
  openstf/ambassador:latest
ExecStop=-/usr/bin/docker stop -t 10 %p

[X-Fleet]
Global=true

[Install]
WantedBy=multi-user.target
