[Unit]
Description=STF API
After=rethinkdb-proxy-28015.service
BindsTo=rethinkdb-proxy-28015.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull openstf/stf:latest
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStart=/usr/bin/docker run --rm \
  --name %p-%i \
  --memory=4g \
  --link rethinkdb-proxy-28015:rethinkdb \
  -e "SECRET=answeri$42" \
  -v /opt/openstf-db:/app/node_modules/stf-device-db/dist \
  -p %i:3000 \
  openstf/stf:latest \
  stf api --port 3000 \
  --connect-sub tcp://stf-sea.sonos.com:7150 \
  --connect-push tcp://stf-sea.sonos.com:7170
ExecStop=-/usr/bin/docker stop -t 10 %p-%i

[Install]
WantedBy=multi-user.target
