[Unit]
Description=STF provider
# After=adbd.service
# BindsTo=adbd.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=60
Restart=always
RestartSec=3
ExecStartPre=/bin/systemctl is-active adbd.service
ExecStartPre=/usr/bin/docker pull openstf/stf:latest
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStart=/usr/bin/docker run --rm \
  --name %p-%i \
  --net host \
  --memory=4g \
  -v /opt/openstf-db:/app/node_modules/stf-device-db/dist \
  openstf/stf:latest \
  stf provider \
    --name "%H/%i" \
    --connect-sub tcp://stf-sea.sonos.com:7250 \
    --connect-push tcp://stf-sea.sonos.com:7270 \
    --storage-url http://stf-sea.sonos.com/ \
    --public-ip ${COREOS_PRIVATE_IPV4} \
    --min-port=15000 \
    --max-port=15500 \
    --heartbeat-interval 10000 \
    --screen-ws-url-pattern "ws://stf-sea.sonos.com/d/%i/<%= serial %>/<%= publicPort %>/"
ExecStop=-/usr/bin/docker stop -t 10 %p-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=stf-provider@*.service
