[Unit]
Description=STF reaper
# After=rethinkdb-proxy-28015.service
# BindsTo=rethinkdb-proxy-28015.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=60
Restart=always
RestartSec=3
ExecStartPre=/bin/systemctl is-active rethinkdb-proxy-28015.service
ExecStartPre=/usr/bin/docker pull openstf/stf:latest
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --memory=4g \
  --link rethinkdb-proxy-28015:rethinkdb \
  openstf/stf:latest \
  stf reaper dev \
    --connect-push tcp://stf-sea.sonos.com:7270 \
    --connect-sub tcp://stf-sea.sonos.com:7150 \
    --heartbeat-timeout 30000
ExecStop=-/usr/bin/docker stop -t 10 %p

[Install]
WantedBy=multi-user.target
